<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='../static/styles.css') }}">
    </head>
<body>
    <div class="loading-screen display-none">
        Loading...
    </div>
    <form method="POST" action="/process">
        <fieldset>
            <legend>
                Choose a normalization method.
            </legend>
            <input type="hidden" name="dataset" value="{{ dataset }}">
            <input type="hidden" name="evaluation" value="{{ evaluation }}">
            <input type="hidden" name="classifier" value="{{ classifier }}">
            <input type="radio" name="normalization" value="unnormalized">
                <label for="Naive Bayes">
                    Unnormalized
                </label>
            <input type="radio" name="normalization" value="minmax">
                <label for="minmax">
                    Minmax
                </label>
            <input type="radio" name="normalization" value="zscore">
                <label for="Zscore">
                    Zscore
                </label>
            <input type="radio" name="normalization" value="all">
                <label for="All">
                    All
                </label>
            <button type="submit">Submit</button>
        </fieldset>
    </form>
    <script src="{{ url_for('static', filename='../static/normalization_selection.js') }}"></script>
</body>
</html>