<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://kit.fontawesome.com/b3ffa80bf4.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='./output.css') }}">
    </head>
<body>
    <div class="loading-screen w-screen h-screen hidden">
        <div class="loading-screen-tagline max-w-9/10 flex flex-col gap-1 sm:flex-row">
            <i class="fa-solid fa-spinner text-5xl self-center animate-spin mr-1"></i>
            <div class="text-5xl text-slate-700 text-center tracking-tighter">
                Running classifiers...
            </div>
        </div>
    </div>
    <main>
        <form method="POST" action="{{ form_action_page }}">
        <fieldset class="flex flex-col h-screen justify-center gap-8">
            <div class="legend">
                <legend class="text-5xl text-center tracking-tight">
                    Choose a{%if group == "evaluation"%}n{% endif %} <span class="choice-group">{{ group }}</span>{% if group == "evaluation" or group == "normalization" %} method{% endif %}{% if group == "dataset" %} to analyze{% endif %}.
                </legend>
            </div>

            <input type="hidden" name="hidden_inputs_key" value="{{ hidden_inputs_key }}">
            {% for input_name, input_value in hidden_inputs.items() %}
            <input type="hidden" name="{{ input_name }}" value="{{ input_value }}">
            {% endfor %}

            <div class="radio-group flex justify-center gap-5 text-xl tracking-tight">
                {% for choice in choices %}
                <label class="inline-flex content-center gap-3">
                    <input
                        type="radio"
                        class="appearance-none w-4 h-4 self-center rounded-full outline-2 outline-slate-300 outline-offset-2 checked:bg-slate-500" 
                        name="{{ group }}"
                        value="{{ choice }}"
                        {% if choice in disabled_choices %}
                            title="Artificial neural networks is not available to use with leave-one-out, due to the high computational cost."
                            disabled
                        {% endif %}
                        required
                    >
                    <span class="capitalize self-center">{{ choice }}</span>
                </label>
                {% endfor %}

                {% if group == "classifier" or group == "normalization" %}
                <label class="inline-flex content-center gap-3">
                    <input
                        class="appearance-none w-4 h-4 rounded-full outline-2 outline-slate-300 outline-offset-2 checked:bg-slate-500"
                        type="radio"
                        name="{{ group }}"
                        value="all"
                    >
                    <span>All</span>
                </label>
                {% endif %}
            </div>

            <button class="self-center text-xl pl-6 pr-5 py-2" type="submit">Next
                <i class="fa-solid fa-arrow-right"></i>
            </button>
        </fieldset>
    </form>
    </main>
    <script src="{{ url_for('static', filename='../static/selection.js') }}"></script>
</body>
</html>